*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 60px;
    background-color: #007569;
}
.logo{
    width: 150px;
    height: 50px;
    color: white;
}
.search{
    width: 240px;
    height: 28px;
    display: flex;
    position: relative;
    left: 80px;
}
.input{
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: none;
    padding-left: 34px;
    border-radius: 5px;
}
.search-btn{
    position: absolute;
    color: rgb(141, 139, 139);
    background-color: white;
    border: none;
    top: 6px;
    left: 10px;
}
.nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}
#items ul{
    position: relative;
    display: flex;
    list-style: none;
    color: white;
}
#items ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0 14px;
}
#items ul li a{
    text-decoration: none;
    color: white;
}
#items ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
#items ul li:hover::after{
    width: 100%;
}
.btn{
    width: 80px;
    height: 30px;
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 8px;
}
.btn a{
    text-decoration: none;
    color: black;
}

/* User Profile */
.user-profile {
    margin: 50px 60px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    color: #007569;
}
.user-profile a {
    margin-top: 10px;
    color: #007569;
}

/* Container */
.user-container{
    margin: 50px 100px;
}
.user-info{
    display: flex;
}
.doctor{
    border: 1px solid #007569;
    background-color: #007569;
    display: flex;
    color: white;
    padding: 30px;
    margin: 10px auto;
    border-radius: 40px;
    width: 380px;
    height: 180px;
    text-align: center;
    box-shadow: 0 5px 20px #007569;
	cursor: default;
}
#doctor-health{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    line-height: 22px;
    margin-left: 40px;
    margin-top: 30px;
}
.doctor-health button{
    margin-top: 30px;
    border: 1px solid rgb(55, 139, 55);
    background-color: rgb(196, 245, 196);
    border-radius: 50px;
    width: 100px;
    height: 25px;
}
.doctor-health button a{
    text-decoration: none;
    color: rgb(55, 139, 55);
}
.img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
#name{
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}
.doctor-details{
    margin: 50px 20px;
}
.data{
    display: flex;
    align-items: center;
    margin: 12px;
    gap: 10px;
}
.data svg{
    color: #007569;
}
#about{
    color: rgb(121, 119, 119);
    font-weight: 600;
}
.appointment{
    margin: 0 140px;
}
.appointment-list-info{
    margin-top: 60px;
}
.appointment-list{
    width: 580px;
    height: 40px;
    border: 3px solid #276A7B;
    color: black;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-top: 16px;
    margin-left: -380px;
}
#test{
    font-size: 16px;
}
#doctor-name{
    color: rgb(121, 119, 119);
    font-size: 12px;
}
#date{
    margin-top: 6px;
    color: rgb(82, 82, 82);
}
.open-button{
    width: 160px;
    height: 38px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #276A7B;
    background-color: #276A7B;
    padding: 10px 20px;
    margin-top: -10px;
    margin-left: 380px;
    border-radius: 8px;
    color: white;
}
.health-history{
    border: 1px solid #007569;
    background-color: #007569;
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
    width: 420px;
    height: 350px;
}
.health-history1{
    display: flex;
    gap: 40px;
    margin: 10px;
}
#health-report{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-left: 18px;
}
#health-report p{
    font-size: 12px;
    font-weight: 600;
}
#health-report button{
    font-size: 12px;
}
#water-percent{
    width: 180px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
}
#water-percent button{
    width: 45px;
    height: 20px;
    border: 1px solid rgb(30, 69, 194);
    background-color: rgb(224, 229, 245);
    color: rgb(30, 69, 194);
    border-radius: 50px;
}
#hemoglobin{
    width: 170px;
    height: 140px;
    background-color: white;
    border-radius: 10px;
}
#hemoglobin button{
    width: 60px;
    height: 20px;
    border: 1px solid rgb(7, 238, 84);
    background-color: rgb(208, 247, 221);
    color: rgb(31, 212, 92);
    border-radius: 50px;
}
#heartbeat{
    margin-top: 20px;
    width: 180px;
    height: 140px;
    background-color: white;
    border-radius: 10px;
}
#heartbeat button{
    width: 60px;
    height: 20px;
    border: 1px solid rgb(243, 72, 143);
    background-color: rgb(247, 198, 218);
    color: rgb(243, 72, 143);
    border-radius: 50px;
}
#sugar-level{
    width: 170px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
}
#sugar-level button{
    width: 45px;
    height: 20px;
    border: 1px solid rgb(247, 204, 15);
    background-color: rgb(248, 236, 190);
    color: rgb(247, 204, 15);
    border-radius: 50px;
}


/* Profile Update Popup*/
.form-popup {
    display: none;
    border: 3px solid #f1f1f1;
    background-color: #f1f1f1;
    z-index: 9;
}
.nav{
    width: auto;
    height: 40px;
    background-color: #276A7B;
    text-align: center;
    color: white;
}
.nav p{
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
h4{
    margin-left: 40px;
    margin-top: 30px;
}
.form-container {
    max-width: 500px;
    padding: 20px;
    margin: 0 20px;
}
.form-container .form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.form-container .form input{
    border-radius: 10px;
    width: 200px;
}

/* Full-width input fields */
.form-container input{
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 10px;
    border: none;
    background: white;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #2d8866;
  color: white;
  border: none;
  cursor: pointer;
  width: 30%;
  margin: 20px 45px;
  opacity: 0.8;
  text-align: center;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(194, 67, 67);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* Footer */
.footer{
    width: 100%;
    height: 220px;
    flex-wrap: wrap;
    background-color: #007569;
}
.footer-container{
    width: 1000px;
    margin: 0 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-logo{
    width: 150px;
    height: 50px;
    color: white;
    margin-top: -50px;
}
#thank-note{
    color: rgb(229, 243, 242);
    width: 390px;
    margin: 30px 0;
    line-height: 28px;
}
#mobile{
    display: flex;
    margin: 10px 0;
    color: rgb(229, 243, 242);
}
#mobile p{
    margin-left: 10px;
}
#mail{
    display: flex;
    margin-bottom: 10px;
    color: rgb(229, 243, 242);
}
#mail p{
    margin-left: 10px;
}
#social-media{
    margin-left: -10px;
}
#social-media a{
    margin-left: 10px;
}
.line{
    width: 900px;
    margin: 0 280px;
}
.footer-privacy{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    background-color: rgb(3, 83, 74);
}
.privacy{
    width: 850px;
    margin: 0 300px;
    display: flex;
    font-size: 16px;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    color: rgb(216, 216, 216);
}
.privacy a{
    text-decoration: none;
    margin-left: 30px;
    color: rgb(216, 216, 216);
}


@media only screen and (min-width:765px) and (max-width:1130px) {

    .navbar{
        width: 1080px;
        margin: auto;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        margin-top: 3px;
    }
    .search{
        width: 200px;
        height: 27px;
        left: 10px;
    }
    .user-profile {
        margin: 30px 30px;
    }
    .user-container{
        margin: 30px 50px;
    }
    .appointment{
        margin: 0 80px;
    }
    .appointment-list{
        width: 560px;
    }
    .open-button{
        margin-left: 280px;
    }
    .footer{
        width: 1080px;
        height: 220px;
    }
    .footer-container{
        width: 1000px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .line{
        width: 800px;
        margin-left: 100px;
    }
    .privacy{
        margin-left: 90px;
    }

}

@media only screen and (min-width:300px) and (max-width:765px){

    .navbar{
        width: 1080px;
        margin: auto;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        margin-top: 3px;
    }
    .search{
        width: 200px;
        height: 27px;
        left: 20px;
    }
    .user-info{
        display: inline-block;
    }
    .doctor{
        width: 440px;
        height: 255px;
        margin-left: 240px;
    }
    .doctor-details{
        margin: 80px 320px;
    }
    .img{
        width: 180px;
        height: 180px;
    }
    #name{
        margin: 10px 0;
        font-size: 26px;
    }
    .data svg{
        width: 30px;
        color: #007569;
    }
    #about{
        color: rgb(121, 119, 119);
        font-weight: 900;
    }
    .user-profile {
        margin: 80px 10px;
        font-size: 24px;
    }
    .user-container{
        margin: 50px 60px;
    }
    .appointment{
        margin: 60px 200px;
    }
    .appointment-list{
        font-size: 20px;
        width: 500px;
        height: 56px;
        padding-top: 10px;
        margin-left: 0;
    }
    .open-button{
        height: 60px;
        margin-top: 30px;
        margin-left: 200px;
    }
    .health-history{
        margin-top: 40px;
        margin-left: 40px;
    }
    .footer{
        width: 1080px;
        height: 220px;
    }
    .footer-container{
        width: 900px;
        margin-left: 80px;
    }
    .line{
        width: 840px;
        margin-left: 110px;
    }
    .privacy{
        margin-left: 110px;
    }

}