*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 60px;
    background-color: #007569;
}
.logo{
    width: 150px;
    height: 50px;
    color: white;
}
.search{
    width: 220px;
    height: 27px;
    display: flex;
    position: relative;
    left: 80px;
}
.input{
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: none;
    padding-left: 34px;
    border-radius: 5px;
}
.search-btn{
    position: absolute;
    color: rgb(141, 139, 139);
    background-color: white;
    border: none;
    top: 6px;
    left: 10px;
}
.nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}
#items ul{
    position: relative;
    display: flex;
    list-style: none;
    color: white;
}
#items ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0 14px;
}
#items ul li a{
    text-decoration: none;
    color: white;
}
#items ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
#items ul li:hover::after{
    width: 100%;
}
.btn{
    width: 80px;
    height: 30px;
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 8px;
}
.btn a{
    text-decoration: none;
    color: black;
}

/* Services Section */
.our-services{
    width: 1300px;
    margin: 60px 0;
}
.service-heading h2{
    font-size: 30px;
    margin-left: 100px;
    text-align: center;
    color: #007569;
}
.main-services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 100px;
    gap: 20px;
}
.about-service{
    margin: 10px 10px;
	width: 200px;
	text-align: center;
	border-radius: 10px;
	padding: 20px 18px;
	box-shadow: 0 5px 10px #a5cac6;
    background-color: #d6ebe9;
	cursor: default;
}

/* Footer */
.footer{
    width: 100%;
    height: 220px;
    flex-wrap: wrap;
    background-color: #007569;
}
.footer-container{
    width: 1000px;
    margin: 0 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-logo{
    width: 150px;
    height: 50px;
    color: white;
    margin-top: -50px;
}
#thank-note{
    color: rgb(229, 243, 242);
    width: 390px;
    margin: 30px 0;
    line-height: 28px;
}
#mobile{
    display: flex;
    margin: 10px 0;
    color: rgb(229, 243, 242);
}
#mobile p{
    margin-left: 10px;
}
#mail{
    display: flex;
    margin-bottom: 10px;
    color: rgb(229, 243, 242);
}
#mail p{
    margin-left: 10px;
}
#social-media{
    margin-left: -10px;
}
#social-media a{
    margin-left: 10px;
}
.line{
    width: 900px;
    margin: 0 220px;
}
.footer-privacy{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background-color: rgb(3, 83, 74);
}
.privacy{
    width: 800px;
    margin: 0 250px;
    display: flex;
    font-size: 14px;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    color: rgb(216, 216, 216);
}
.privacy a{
    text-decoration: none;
    margin-left: 30px;
    color: rgb(216, 216, 216);
}

@media only screen and (min-width:765px) and (max-width:1130px) {

    .navbar{
        width: 1020px;
        margin: auto;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        margin-top: 3px;
    }
    .search{
        width: 200px;
        height: 27px;
        left: 10px;
    }
    .our-services{
        width: 900px;
        margin-top: 50px;
        margin-left: 35px;
    }
    .footer{
        width: 1020px;
        height: 220px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-container{
        width: 1000px;
        margin-left: 100px;
    }
    .line{
        width: 760px;
        margin-left: 100px;
    }
    .privacy{
        margin-left: 90px;
    }

}

@media only screen and (min-width:300px) and (max-width:765px){

    .navbar{
        width: 1080px;
        margin: auto;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        margin-top: 3px;
    }
    .search{
        width: 200px;
        height: 27px;
        left: 20px;
    }
    .our-services{
        width: 800px;
        margin-top: 60px;
        margin-left: 80px;
    }
    .footer{
        width: 1080px;
        height: 220px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-container{
        width: 1000px;
        margin-left: 50px;
    }
    .line{
        width: 760px;
        margin-left: 40px;
    }
    .privacy{
        margin-left: 30px;
    }

}